@import '../../styles/variables';

.actor_photo {
  width: 100%;
  aspect-ratio: $aspect-ratio;
  object-fit: cover;
  border-radius: $image-radius;
  transition: 0.3s ease-in-out;

  // Styles for hover-capable devices go here
  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.actor_card_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  border-radius: 4px;
  padding: 4px;
  background-color: #b2b2b2;
}

.actor_name {
  font-size: $font-size-small;
  font-weight: 600;
  color: $name-color;
}
