@import '../../styles/variables';

.actor_photo {
  width: 100%;
  aspect-ratio: 16/12;
  object-fit: cover;
  border-radius: 6px;
}

.actor_card_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  border-radius: 6px;
  padding: 4px;
  background-color: #b2b2b2;
}

.actor_name {
  font-size: 18px;
  font-weight: 600;
  color: $name-color;
}
