@import '../../styles/variables';

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
    min-width: 320px;
}

.select, .select_open {
    border-radius: 4px;
    border: 2px solid $border-default;
    height: 44px;
    position: relative;
    cursor: text;
}

.select_open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid $border-active;
    border-bottom: none;
}

.select_value, .select_value_default {
    min-height: 47px;
    padding: 8px 16px 4px;
    color: $label-color;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: none;
    outline: none;
    margin: 0;
    text-align: left;
    z-index: 100;
}
.select_value_default{
    color: #9a9a9a;
}
.options_container {
    z-index: 95;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #ffffff;
    outline: 2px solid $border-active;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: none;
    overscroll-behavior: contain;
    top: 44px;
    padding: 16px;
}

.options_wrapper {
    max-height: 144px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    color: #4D4D4D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    list-style-type: none;

    &::-webkit-scrollbar-thumb {
        background-color: #1C8666;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
        background: #edf6f3;
        border-radius: 20px;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }
}

.option {
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;
    text-align: left;

    &:hover {
        background-color: #B4BEC8FF;
    }
}
