@import '../../../styles/variables';

.container_header{
  background-color: rgba(101, 101, 101, 0.56);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
  padding: 16px 0;
}
.logo{
  height: 60px;
}
.title_header{
  font-size: clamp($font-size-small, 3vw, $font-size-middle);
  text-align: center;
  color: $title-color;
}
