@import '../../../styles/variables';

.container_header {
  background-color: rgba(101, 101, 101, 0.56);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
  padding: 16px 0;
}

.logo {
  height: 60px;
}

.title_header {
  font-size: clamp($font-size-small, 3vw, $font-size-middle);
  text-align: center;
  color: $title-color;
}

.link {
  font-size: $font-size-small;
  font-weight: 400;
  color: $link-color;
  transition: 0.3s ease-in-out;
  text-wrap: nowrap;

  // Styles for hover-capable devices go here
  @media (hover: hover) {
    &:hover {
      color: $link-color-hover;
    }
  }
}

@media screen and (max-width: 540px) {
  .container_header {
    flex-direction: column;
    gap: 12px;
  }
}
