.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    width: 100%;
}

.input {
    border-radius: 4px;
    border: 2px solid var(--border-default);
    color: var(--label-color);
    padding: 10px 16px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    outline: none;
    transition: 0.3s;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &::placeholder {
        color: var(--placeholder-color);
    }

    &:focus {
        border-color: var(--border-active);
    }

    &[aria-invalid="true"],
    &:invalid {
        border-color: var(--invalid);
    }
}

.label {
    font-weight: 500;
    color: var(--label-color);
    font-size: 16px;
    line-height: 23px;
    text-align: left;
}
