@import '../../styles/variables';

.actor_page_container {
  display: flex;
  gap: 20px;
  padding: 16px;
}

.actor_section_info, .actor_section_contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: flex-start;
}

.actor_section_contact {
  gap: 12px;
}

.actor_photo {
  object-fit: cover;
  aspect-ratio: $aspect-ratio;
  border-radius: $image-radius;
}

.actor_name {
  font-size: $font-size-big;
  font-weight: 700;
}

.contact, .contact_link {
  font-size: $font-size-middle;
  font-weight: 500;
}

.contact_link {
  color: $link-color;
  transition: 0.3s ease-in-out;

  // Styles for hover-capable devices go here
  @media (hover: hover) {
    &:hover {
      color: $link-color-hover;
    }
  }
}

@media screen and (max-width: 790px) {
  .actor_page_container {
    flex-direction: column;
  }
}
