@import '../../styles/variables';

.actor_page_container {
  display: flex;
  gap: 20px;
  padding: 16px;
}

.actor_section_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: flex-start;
}

.actor_photo {
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: $image-radius;
}
.actor_name{
  font-size: 30px;
  font-weight: 700;
}
.contact_info{
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 790px) {
  .actor_page_container {
    flex-direction: column;
  }
}
